<section class="section section-primary benefits benefits-shop section-bottom-line">
    <div class="benefits-money-1">
        <img src="/img/money-2.png" alt="money">
    </div>
    <div class="benefits-money-2">
        <img src="/img/money-2.png" alt="money">
    </div>
    <div class="wrapper">
        <div class="section-header section-header-relative-col">
            <div class="line-y"></div>
            <h2 class="title text-white">
                <span>Преимущества</span> разработки <br> интернет-магазина <span>на 1с-битрикс</span>
            </h2>
        </div>
        <ul class="benefits-list">
            <li class="benefits-item">
                <div class="benefits-icon">
                    <img src="/img/icon/i-31.svg" alt="icon">
                </div>
                <div class="benefits-context">
                    <h3 class="benefits-title  uppercase">
                        автоматизация
                    </h3>
                    <p class="benefits-text text-white">
                        Позволяет автоматизировать большую часть рабочего процесса - прием и обработка заказов,
                        комфортное и удобное ведение клиентской базы, учет, а также сбор статистических показателей
                    </p>

                </div>
            </li>
            <li class="benefits-item">
                <div class="benefits-icon">
                    <img src="/img/icon/i-32.svg" alt="icon">
                </div>
                <div class="benefits-context">
                    <h3 class="benefits-title  uppercase">
                        комфорт
                    </h3>
                    <p class="benefits-text text-white">
                        Интернет-магазин на Битрикс имеет удобную навигацию и интуитивно понятное управление, делает
                        покупки для клиента комфортными, а владельцу обеспечивает постоянный рост продаж
                    </p>

                </div>
            </li>
            <li class="benefits-item">
                <div class="benefits-icon">
                    <img src="/img/icon/i-33.svg" alt="icon">
                </div>
                <div class="benefits-context">
                    <h3 class="benefits-title  uppercase">
                        карточки товаров
                    </h3>
                    <p class="benefits-text text-white">
                        Эффектные и информативные карточки товаров. Вы можете прописывать характеристики, подробное
                        описание, стоимость, прилагать фотографии, указывать производителя и даже публиковать отзывы
                        покупателей
                    </p>

                </div>
            </li>
            <li class="benefits-item">
                <div class="benefits-icon">
                    <img src="/img/icon/i-34.svg" alt="icon">
                </div>
                <div class="benefits-context">
                    <h3 class="benefits-title  uppercase">
                        интеграция
                    </h3>
                    <p class="benefits-text text-white">

                        Позволяет автоматизировать большую часть рабочего процесса - прием и обработка заказов,
                        комфортное и удобное ведение клиентской базы, учет, а также сбор статистических показателей
                    </p>

                </div>
            </li>
            <li class="benefits-item">
                <div class="benefits-icon">
                    <img src="/img/icon/i-35.svg" alt="icon">
                </div>
                <div class="benefits-context">
                    <h3 class="benefits-title  uppercase">
                        Адаптивность
                    </h3>
                    <p class="benefits-text text-white">

                        Битрикс универсальна и адаптивна. Подходит для интернет-магазинов с большим количеством товаров
                        и гарантирует корректное отображение информации на любом устройстве
                    </p>

                </div>
            </li>
            <li class="benefits-item">
                <div class="benefits-icon">
                    <img src="/img/icon/i-36.svg" alt="icon">
                </div>
                <div class="benefits-context">
                    <h3 class="benefits-title  uppercase">
                        Безопасность
                    </h3>
                    <p class="benefits-text text-white">

                        Безопасность интернет-магазина гарантированаю Платформа не боится вредносных ПО, надежно
                        защищена от взломов и хакерских атак
                    </p>

                </div>
            </li>
            <li class="benefits-item">
                <div class="benefits-icon">
                    <img src="/img/icon/i-37.svg" alt="icon">
                </div>
                <div class="benefits-context">
                    <h3 class="benefits-title  uppercase">
                        Простота
                    </h3>
                    <p class="benefits-text text-white">

                        Ресурс прост в обслуживании и не требует наличия особых навыков для работы с административной
                        панелью. Владелец сам может добавлять и изменять карточки товара, делать товарную перелинковку
                    </p>

                </div>
            </li>
            <li class="benefits-item">
                <div class="benefits-icon">
                    <img src="/img/icon/i-38.svg" alt="icon">
                </div>
                <div class="benefits-context">
                    <h3 class="benefits-title  uppercase">
                        Функционал
                    </h3>
                    <p class="benefits-text text-white">

                        Широкий функционал интернет-магазина облегчает его обслуживание и продвижение
                    </p>

                </div>
            </li>
            <li class="benefits-item">
                <div class="benefits-icon">
                    <img src="/img/icon/i-39.svg" alt="icon">
                </div>
                <div class="benefits-context">
                    <h3 class="benefits-title  uppercase">
                        Стабильность
                    </h3>
                    <p class="benefits-text text-white">

                        Надежность и высокая производительность сайта обеспечены даже при высоких нагрузках на систему
                    </p>

                </div>
            </li>
        </ul>
    </div>
</section>
