<section class="section faq-section @@class">
    <div class="wrapper">
        <div class="section-header-relative-col">
            <div class="line-y"></div>
            <h2 class="title text-white">вопрос-<span>ответ</span></h2>
        </div>
        <div class="faq">
            <div class="faq-item active">
                <div class="faq-header  faq-toggle" data-show=".faq-body"
                     data-parent=".faq-item">
                    <div class="faq-title">Индивидуальный дизайн сайта</div>
                    <div class="faq-btn">
                    </div>
                </div>
                <div class="faq-body" style="display:block;">
                    <p class="description">
                        Когда мы создаем уникальный дизайн для интернет-магазина, то наши разработчики прорисовывают
                        его
                        с нуля. Дизайнер не просто реализовывает свои фантазии, но и учитывает требования клиента,
                        фирменный стиль компании, тематику бизнес-ниши. Поэтому интернет-магазин услуг обретает не
                        просто уникальный функционал, но и выдерживается в необходимом для клиента направлении.
                        Многие
                        фирмы делают проще: незначительно уникализируют уже готовые решения и предлагают Вам как
                        новую
                        разработку «especially for you». Банальная замена цвета и фона, перестановка блоков,
                        интерпретация баннеров – получайте готовый индивидуальный дизайн. Еще один вариант: Вам
                        отрисуют
                        индивидуальный дизайн наподобие такого, как Вам нравится, сделают его максимально похожим на
                        исходник. Но нужно понимать, что такой дизайн априори не может называться «уникальным». Это
                        видоизмененное шаблонное решение, которое стоит на порядок дешевле. С таким же успехом Вы
                        можете
                        выбрать готовые решения из нашего каталога и уникализировать их.
                    </p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-header faq-toggle" data-show=".faq-body"
                     data-parent=".faq-item">
                    <div class="faq-title">Скидки на разработку сайта</div>
                    <div class="faq-btn">
                    </div>
                </div>
                <div class="faq-body">
                    <p class="description">
                        Обратиться в нашу службу поддержки Вы можете любым удобным способом:
                    </p>
                    <div class="list-check text-white ">
                        <div class="list-check__item bold">Написать на почту <a href="mailto:mail@9310802.ru">mail@9310802.ru</a></div>
                        <div class="list-check__item bold">Позвонить по телефону <a href="tel:+78129310802">+7 (812) 931-08-02</a></div>
                        <div class="list-check__item bold">Заполнить форму обратной связи на сайте или заказать обратный звонок</div>
                    </div>
                    <p class="description">
                        Для быстрого решения Вашей задачи постарайтесь максимально точно обозначить проблему. По возможности приложите к письму скрин проблемы или страницы.
                    </p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-header faq-toggle" data-show=".faq-body"
                     data-parent=".faq-item">
                    <div class="faq-title">Первые заказы с интернет-магазина</div>
                    <div class="faq-btn">

                    </div>
                </div>
                <div class="faq-body">
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aliquam atque
                        blanditiis corporis doloremque iste magni nesciunt reprehenderit vel. Ad aliquam aliquid
                        consequuntur dignissimos impedit iure quasi quod veniam!
                    </p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-header faq-toggle" data-show=".faq-body"
                     data-parent=".faq-item">
                    <div class="faq-title">СЕО оптимизация сайта</div>
                    <div class="faq-btn">

                    </div>
                </div>
                <div class="faq-body">
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aliquam atque
                        blanditiis corporis doloremque iste magni nesciunt reprehenderit vel. Ad aliquam aliquid
                        consequuntur dignissimos impedit iure quasi quod veniam!
                    </p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-header faq-toggle" data-show=".faq-body"
                     data-parent=".faq-item">
                    <div class="faq-title">Администрирование сайта</div>
                    <div class="faq-btn">

                    </div>
                </div>
                <div class="faq-body">
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aliquam atque
                        blanditiis corporis doloremque iste magni nesciunt reprehenderit vel. Ad aliquam aliquid
                        consequuntur dignissimos impedit iure quasi quod veniam!
                    </p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-header faq-toggle" data-show=".faq-body"
                     data-parent=".faq-item">
                    <div class="faq-title">Наполнение сайта</div>
                    <div class="faq-btn"></div>
                </div>
                <div class="faq-body">
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aliquam atque
                        blanditiis corporis doloremque iste magni nesciunt reprehenderit vel. Ad aliquam aliquid
                        consequuntur dignissimos impedit iure quasi quod veniam!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>