<section class="section ready-solutions">
    <div class="wrapper">
        <div class="section-header  section-header-relative-col">
            <div class="line-y"></div>
            <h2 class="title text-dark">создание <span>сайта</span> <br>
                на готовом <span>решении</span></h2>
            <p class="description text-dark">
                Наша компания занимается разработкой сайтов на Битрикс с 2010 года. Мы предоставляем Вам 2 основных
                варианта создания сайтов:
            </p>
        </div>
        <div class="ready-solutions__list">
            <div class="ready-solutions__item">
                <div class="ready-solutions__item-img">
                    <img src="/img/cards/ready-solution-1.jpg" alt="ready-solutions">
                </div>
                <h3 class="ready-solutions__item-title">Аспро: медицинский центр 3.0</h3>
                <p class="ready-solutions__item-price">
                    57 900 руб.
                </p>
            </div>
            <div class="ready-solutions__item">
                <div class="ready-solutions__item-img">
                    <img src="/img/cards/ready-solution-2.jpg" alt="ready-solutions">
                </div>
                <h3 class="ready-solutions__item-title">Аспро: корпоративный сайт 3.0</h3>
                <p class="ready-solutions__item-price">
                    57 900 руб.
                </p>
            </div>
            <div class="ready-solutions__item">
                <div class="ready-solutions__item-img">
                    <img src="/img/cards/ready-solution-3.jpg" alt="ready-solutions">
                </div>
                <h3 class="ready-solutions__item-title">Аспро: некст-интернет-магазин</h3>
                <p class="ready-solutions__item-price">
                    57 900 руб.
                </p>
            </div>

            <div class="ready-solutions__item">
                <div class="ready-solutions__item-img">
                    <img src="/img/cards/ready-solution-4.jpg" alt="ready-solutions">
                </div>
                <h3 class="ready-solutions__item-title">Аспро: лайтшоп</h3>
                <p class="ready-solutions__item-price">
                    79 900 руб.
                </p>
            </div>
            <div class="ready-solutions__item">
                <div class="ready-solutions__item-img">
                    <img src="/img/cards/ready-solution-5.jpg" alt="ready-solutions">
                </div>
                <h3 class="ready-solutions__item-title">Аспро: максимум - интернет-магазин</h3>
                <p class="ready-solutions__item-price">
                    57 900 руб.
                </p>
            </div>
            <div class="ready-solutions__item">
                <div class="ready-solutions__grey">
                    <div class="ready-solutions__grey-inner">
                        <div class="ready-solutions__grey-title">от <span>57 900</span> руб.</div>
                        <p class="description">За готовый сайт</p>
                        <button class="btn btn-primary">заказать</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
