<section class="info-step">
    <div class="wrapper">
        <div class="info-step__inner">
            <div class="section-header  section-header-relative-col">
                <div class="line-y"></div>
                <h2 class="title text-white">
                    дополнительные <span>возможности для бизнеса</span>
                </h2>
            </div>
            <ul class="info-step__list">
                <li class="info-step__item">
                    <h3 class="info-step__item-title"><span>Поддержка</span> пользователей</h3>
                    <p class="info-step__item-description">
                        Корпоративный сайт обеспечивает возможность общения с клиентом, и обеспечивает обратную связь. Вы можете узнавать о качестве своего продукта непосредственно от вашей целевой аудитории. Узнавайте точки боли клиента и совершенствуйте качество услуг
                    </p>
                    <span class="info-step__item-number">1</span>
                </li>
                <li class="info-step__item">
                    <h3 class="info-step__item-title">
                        <span>Коммуникация</span> с партнерами и коллегами
                    </h3>
                    <p class="info-step__item-description">
                        Используем собственные проверенные методики, которые доказали высокую степень эффективности в самых разных сферах и бизнес-нишах
                    </p>
                    <span class="info-step__item-number">2</span>
                </li>
                <li class="info-step__item">
                    <h3 class="info-step__item-title">
                        <span>поиск</span> новых сотрудников
                    </h3>
                    <p class="info-step__item-description">
                        Для каждого проекта формируем команду из высококвалифицированных программистов, маркетологов, дизайнеров и других специалистов
                    </p>
                    <span class="info-step__item-number">3</span>
                </li>
            </ul>
        </div>
        
    </div>
</section>