<section class="section section-dark-1 portfolio">
    <div class="portfolio-money">
        <img src="/img/money-2.png" alt="money">
    </div>
    <div class="wrapper">
        <div class="section-header">
            <div class="line-y"></div>
            <h2 class="title text-white">
                Наше <br>
                <span>Портфолио</span>
            </h2>
        </div>
    </div>
    <div class="portfolio-slider" id="portfolioSlider">
        <div class="relative text-white">
            <div class="swiper overflow-visible container">
                <div class="swiper-wrapper">
                    <div class="portfolio-card swiper-slide">
                        <div class="portfolio-card__img">
                            <img src="/img/portfolio/portfolio-1.png" alt="portfolio">
                        </div>
                        <div class="portfolio-card__content">
                            <div class="portfolio-card__logo">
                                <img src="/img/portfolio/portfolio-1-logo.png" alt="portfolio">
                            </div>
                            <h3 class="portfolio-card__title">Интернет-магазин акционных товаров</h3>
                            <p class="portfolio-card__text">Skidex — универсальная площадка для размещения различных
                                товаров</p>
                        </div>
                    </div>
                    <div class="portfolio-card swiper-slide">
                        <div class="portfolio-card__img">
                            <img src="/img/portfolio/portfolio-2.png" alt="portfolio">
                        </div>
                        <div class="portfolio-card__content">
                            <div class="portfolio-card__logo">
                                <img src="/img/portfolio/portfolio-2-logo.png" alt="portfolio">
                            </div>
                            <h3 class="portfolio-card__title">Светлион</h3>
                            <p class="portfolio-card__text">Продажа осветительного оборудования</p>
                        </div>
                    </div>
                    <div class="portfolio-card swiper-slide">
                        <div class="portfolio-card__img">
                            <img src="/img/portfolio/portfolio-3.png" alt="portfolio">
                        </div>
                        <div class="portfolio-card__content">
                            <div class="portfolio-card__logo">
                                <img src="/img/portfolio/portfolio-3-logo.png" alt="portfolio">
                            </div>
                            <h3 class="portfolio-card__title">Сайт для салона антикварного магазина</h3>
                            <p class="portfolio-card__text">Занимаются оценкой и скупкой, а также продажей
                                антиквариата</p>
                        </div>
                    </div>
                    <div class="portfolio-card swiper-slide">
                        <div class="portfolio-card__img">
                            <img src="/img/portfolio/portfolio-4.png" alt="portfolio">
                        </div>
                        <div class="portfolio-card__content">
                            <div class="portfolio-card__logo">
                                <img src="/img/portfolio/portfolio-4-logo.png" alt="portfolio">
                            </div>
                            <h3 class="portfolio-card__title">Сайт интернет-магазина мотоэкипировки</h3>
                            <p class="portfolio-card__text">Продает экипировку для мотоциклистов и не только</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                new Swiper('#portfolioSlider .swiper', {
                    spaceBetween: 30,
                    slidesPerView: 'auto',
                    autoHeight: true,
                    navigation: {
                        prevEl: '#portfolioSlider .swiper-controls .prev',
                        nextEl: '#portfolioSlider .swiper-controls .next',
                    }
                })
            })
        </script>
        <div class="wrapper">
            <div class="portfolio-control">
                <button class="btn btn-primary">Смотреть все кейсы</button>
                <div class="swiper-controls">
                    <button class="swiper-btn prev">
                        <svg width="12" height="18" viewBox="0 0 12 18" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M4.67359 9L11.5 2.10712L9.4132 0L0.5 9L9.4132 18L11.5 15.8929L4.67359 9Z"
                                  fill="white"/>
                        </svg>
                    </button>
                    <button class="swiper-btn next">
                        <svg width="12" height="18" viewBox="0 0 12 18" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M7.32641 9L0.5 2.10712L2.5868 0L11.5 9L2.5868 18L0.5 15.8929L7.32641 9Z"
                                  fill="white"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
