<section class="section section-dark-1 portfolio">
    <div class="portfolio-money">
        <img src="/img/money-2.png" alt="money">
    </div>
    <div class="wrapper">
        <div class="section-header">
            <div class="line-y"></div>
            <h2 class="title text-white">
                результаты <br>
                <span>наших работ</span>
            </h2>
        </div>
    </div>
    <div class="portfolio-slider__work" id="portfolioSlider">
        <div class="relative text-white">
            <div class="swiper overflow-visible container">
                <div class="swiper-wrapper">
                    <div class=" swiper-slide portfolio-slider__work-item">
                            <div class="portfolio-slider__work-item-inner">
                                <a href="#" class="portfolio-slider__work-item__logo">
                                    <img src="img/logo-slider.png" alt="logo">
                                </a>
                                <p class="portfolio-slider__work-item__text">
                                    <span>Заказчик:</span>
                                    Магазин Антиквариата
                                </p>
                                <p class="portfolio-slider__work-item__text">
                                    <span>Задача:</span>
                                    Увеличение трафика на оптимизированном сайте
                                </p>
                                <p class="portfolio-slider__work-item__text">
                                    <span>Результат:</span>
                                    До начала наших работ заказчик самостоятельно оптимизировал сайт и добился
                                    посещаемости -
                                    370 посетителей в месяц. После обращения к нам, рост посещаемости не заставил себя
                                    долго
                                    ждать. Количество визитов в месяц из поиска в среднем выросло до 12000.
                                </p>
                                <div class="portfolio-slider__work-item__img">
                                    <img src="img/image_799.png" alt="portfolio">
                                </div>
                                <p class="portfolio-slider__work-item__text">
                                    <span>Посетителей в месяц было: <span>370</span></span>
                                    <br>
                                    <span>Посетителей в месяц стало: <span>12000</span></span>
                                </p>
                                <div class="portfolio-slider__work-item__img">
                                    <img src="img/image_799.png" alt="portfolio">
                                </div>
                                <p class="portfolio-slider__work-item__text">
                                    <span>Результат:</span>
                                    До начала наших работ заказчик самостоятельно оптимизировал сайт и добился
                                    посещаемости -
                                    370 посетителей в месяц. После обращения к нам, рост посещаемости не заставил себя
                                    долго
                                    ждать. Количество визитов в месяц из поиска в среднем выросло до 12000.
                                </p>
                            </div>
                    </div>
                    <div class=" swiper-slide portfolio-slider__work-item">
                            <div class="portfolio-slider__work-item-inner">
                                <a href="#" class="portfolio-slider__work-item__logo">
                                    <img src="img/logo-slider-2.png" alt="logo">
                                </a>
                                <p class="portfolio-slider__work-item__text">
                                    <span>Заказчик:</span>
                                     Кулинарная студия
                                </p>
                                <p class="portfolio-slider__work-item__text">
                                    <span>Задача:</span>
                                    Вывести сайт в топ
                                </p>
                                <p class="portfolio-slider__work-item__text">
                                    <span>Результат:</span>
                                    Вывели в топ 252 запроса, из них в топ 1 - 184 запроса. Благодаря улучшению видимости сайта увеличилось количество посетителей в месяц с 700 до 6500.
                                </p>
                                <div class="portfolio-slider__work-item__img">
                                    <img src="img/image 803.png" alt="portfolio">
                                </div>
                                <div class="portfolio-slider__work-item__img">
                                    <img src="img/image 804.png" alt="portfolio">
                                </div>
                                <p class="portfolio-slider__work-item__text">
                                    <span>Посетителей в месяц было:  <span>700</span></span>
                                    <br>
                                    <span>Посетителей в месяц стало: <span>12000</span></span>
                                </p>
                                <div class="portfolio-slider__work-item__img">
                                    <img src="img/image_799.png" alt="portfolio">
                                </div>
                                <p class="portfolio-slider__work-item__text">
                                    <span>Результат:</span>
                                    До начала наших работ заказчик самостоятельно оптимизировал сайт и добился
                                    посещаемости -
                                    370 посетителей в месяц. После обращения к нам, рост посещаемости не заставил себя
                                    долго
                                    ждать. Количество визитов в месяц из поиска в среднем выросло до 12000.
                                </p>
                            </div>
                    </div>
                    <div class=" swiper-slide portfolio-slider__work-item">
                            <div class="portfolio-slider__work-item-inner">
                                <a href="#" class="portfolio-slider__work-item__logo">
                                    <img src="img/logo-slider-3.png" alt="logo">
                                </a>
                                <p class="portfolio-slider__work-item__text">
                                    <span>Заказчик:</span>
                                    Интернет-магазин электроники
                                </p>
                                <p class="portfolio-slider__work-item__text">
                                    <span>Задача:</span>
                                    Интернет-магазин электроники
                                </p>
                                <p class="portfolio-slider__work-item__text">
                                    <span>Результат:</span>
                                    Количество целевых визитов и показатель конверсии выросли. Количество достигнутых целей в месяц увеличилось с 200 до 1800.
                                </p>
                                <div class="portfolio-slider__work-item__img">
                                    <img src="img/image 807.png" alt="portfolio">
                                </div>
                                <p class="portfolio-slider__work-item__text">
                                    <span>Посетителей в месяц было: <span>200</span></span>
                                    <br>
                                    <span>Посетителей в месяц стало: <span>18000</span></span>
                                </p>
                                <div class="portfolio-slider__work-item__img">
                                    <img src="img/image 808.png" alt="portfolio">
                                </div>
                                <p class="portfolio-slider__work-item__text">
                                    <span>Результат:</span>
                                    До начала наших работ заказчик самостоятельно оптимизировал сайт и добился
                                    посещаемости -
                                    370 посетителей в месяц. После обращения к нам, рост посещаемости не заставил себя
                                    долго
                                    ждать. Количество визитов в месяц из поиска в среднем выросло до 12000.
                                </p>
                            </div>
                    </div>
                    <div class=" swiper-slide portfolio-slider__work-item">
                            <div class="portfolio-slider__work-item-inner">
                                <a href="#" class="portfolio-slider__work-item__logo">
                                    <img src="img/logo-slider.png" alt="logo">
                                </a>
                                <p class="portfolio-slider__work-item__text">
                                    <span>Заказчик:</span>
                                    Магазин Антиквариата
                                </p>
                                <p class="portfolio-slider__work-item__text">
                                    <span>Задача:</span>
                                    Увеличение трафика на оптимизированном сайте
                                </p>
                                <p class="portfolio-slider__work-item__text">
                                    <span>Результат:</span>
                                    До начала наших работ заказчик самостоятельно оптимизировал сайт и добился
                                    посещаемости -
                                    370 посетителей в месяц. После обращения к нам, рост посещаемости не заставил себя
                                    долго
                                    ждать. Количество визитов в месяц из поиска в среднем выросло до 12000.
                                </p>
                                <div class="portfolio-slider__work-item__img">
                                    <img src="img/image_799.png" alt="portfolio">
                                </div>
                                <p class="portfolio-slider__work-item__text">
                                    <span>Посетителей в месяц было: <span>370</span></span>
                                    <br>
                                    <span>Посетителей в месяц стало: <span>12000</span></span>
                                </p>
                                <div class="portfolio-slider__work-item__img">
                                    <img src="img/image_799.png" alt="portfolio">
                                </div>
                                <p class="portfolio-slider__work-item__text">
                                    <span>Результат:</span>
                                    До начала наших работ заказчик самостоятельно оптимизировал сайт и добился
                                    посещаемости -
                                    370 посетителей в месяц. После обращения к нам, рост посещаемости не заставил себя
                                    долго
                                    ждать. Количество визитов в месяц из поиска в среднем выросло до 12000.
                                </p>
                            </div>
                    </div>

                </div>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                new Swiper('#portfolioSlider .swiper', {
                    spaceBetween: 30,
                    slidesPerView: 'auto',
                    autoHeight: true,
                    navigation: {
                        prevEl: '#portfolioSlider .swiper-controls .prev',
                        nextEl: '#portfolioSlider .swiper-controls .next',
                    }
                })
            })
        </script>
        <div class="wrapper">
            <div class="portfolio-control">
                <button class="btn btn-primary">заказать продвижение</button>
                <div class="swiper-controls">
                    <button class="swiper-btn prev">
                        <svg width="12" height="18" viewBox="0 0 12 18" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M4.67359 9L11.5 2.10712L9.4132 0L0.5 9L9.4132 18L11.5 15.8929L4.67359 9Z"
                                  fill="white"/>
                        </svg>
                    </button>
                    <button class="swiper-btn next">
                        <svg width="12" height="18" viewBox="0 0 12 18" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M7.32641 9L0.5 2.10712L2.5868 0L11.5 9L2.5868 18L0.5 15.8929L7.32641 9Z"
                                  fill="white"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
