.home {
  &-hero {
    .big-title {
      display: flex;
      flex-direction: column;
      margin-left: -6px;
    }

    &__bg {
      .money-1 {
        position: absolute;
        left: 53%;
        top: -168px;
        transform: translateX(-50%);
        @media screen and (max-width: 900px) {
          display: none;
        }
      }

      .money-2 {
        position: absolute;
        left: 32.9%;
        bottom: -119px;
        transform: translateX(-50%);
        z-index: 3;
        @media screen and (max-width: 900px) {
          transform: translateX(-50%) scale(0.8);
          left: 36.9%;
          bottom: -138px;
        }
        @media screen and (max-width: 600px) {
          //display: none;
          transform: translateX(-50%) scale(0.35);
          left: auto;
          right: -62%;
          bottom: -152px;

        }
      }
    }

    &__line {
      height: 120px;
      margin-bottom: 37px;
      @media screen and (max-width: 900px) {
        display: none;
      }
    }
  }

  &-marketing {
    overflow: hidden;
    padding-bottom: 100px;
    position: relative;
    @media screen and (max-width: 900px) {
      padding-bottom: 57px;
    }
    @media screen and (max-width: 600px) {
      padding-bottom: 46px;
    }

    &__money {
      position: absolute;
      left: -40%;
      transform: rotate(-40deg);
      z-index: 0;
      user-select: none;
      pointer-events: none;

      img {
        user-select: none;
        pointer-events: none;
      }

      @media screen and (max-width: 1300px) {
        display: none;
      }
    }

    &__logo {
      position: absolute;
      bottom: 0;
      left: 62px;
      z-index: 0;
      user-select: none;
      pointer-events: none;

      img {
        user-select: none;
        pointer-events: none;
      }

      @media screen and (max-width: 900px) {
        height: 200px;
        min-width: 591px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }

  }

  &-price {
    .section-header {
      margin-bottom: 34px;

      & + .description {
        padding-left: 40px;
        @media screen and (max-width: 600px) {
          padding-left: 0;
        }
      }

      .line-y {
        height: 240px;
        @media screen and (max-width: 900px) {
          height: 150px;
        }
        @media screen and (max-width: 600px) {
          height: 105px;
        }
      }
    }

    &__list {
      padding: 75px 0 115px;
      display: flex;
      //align-items: stretch;
      justify-content: center;
      flex-wrap: wrap;
      gap: 78px 60px;
      @media screen and (max-width: 1150px) {
        justify-content: space-between;
        gap: 36px 58px;
        padding: 27px 0 63px;
      }
      @media screen and (max-width: 600px) {
        padding: 33px 0 63px;
      }
    }

    &__item {
      max-width: 320px;
      width: 100%;
      height: inherit;
      display: flex;
      flex-direction: column;

      &:nth-last-child(1) {
        max-width: 350px;

        .home-price__item-title {
          font-size: 32px;
          line-height: 100%;
          text-transform: uppercase;
          @media screen and (max-width: 900px) {
            font-size: 26px;
            line-height: 120%;
            span {
              font-size: 34px;
            }
          }
          @media screen and (max-width: 600px) {
            font-size: 20px;
            span {
              font-size: 28px;
            }
          }
        }
      }

      &-title {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 40px;
        line-height: 100%;
        color: #000;
        margin-bottom: 9px;
        @media screen and (max-width: 900px) {
          font-size: 34px;
          margin-bottom: 13px;
        }
        @media screen and (max-width: 600px) {
          font-size: 28px;
        }

        span {
          text-transform: uppercase;
          color: var(--eb0e54);
        }
      }

      &-text {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        color: #959ba8;
        margin-bottom: 30px;
        flex: 1;
        @media screen and (max-width: 900px) {
          font-size: 18px;
          margin-bottom: 23px;
        }
        @media screen and (max-width: 900px) {
          font-size: 16px;
          margin-bottom: 20px;
        }
      }

      &-line {
        width: 120px;
        height: 2px;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background: var(--eb0e54);
          left: 0;
          bottom: 0;
          //--eb0e54: ;
        }
      }
    }
  }

  &-card-slider {
    overflow: hidden;
    position: relative;
    padding-bottom: 12px;
    @media screen and (max-width: 900px) {
      padding-bottom: 0;
    }

    &__money {
      position: absolute;
      right: -26.5%;
      top: 0%;
      user-select: none;
      pointer-events: none;
      z-index: 0;

      img {
        user-select: none;
        pointer-events: none;
      }

      @media screen and (max-width: 900px) {
        right: -81.5%;
      }
      @media screen and (max-width: 600px) {
        right: -218.5%;
      }
    }
  }
}

.marketing {
  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 95px;
    position: relative;
    z-index: 3;

    @media screen and (max-width: 1300px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media screen and (max-width: 900px) {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 65px;
    }
    @media screen and (max-width: 600px) {
      margin-top: 40px;
    }

    &__flex {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      @media screen and (max-width: 900px) {
        margin-top: 20px;
        gap: 30px;
      }
      @media screen and (max-width: 600px) {
        margin-top: 35px;
        gap: 16px;
      }

      .marketing-item {
        max-width: calc(100% / 3 - 20px);
        @media screen and (max-width: 1300px) {
          max-width: calc(100% / 2 - 15px);
        }
        @media screen and (max-width: 900px) {
          max-width: 100%;
          padding: 40px 50px;
          .description {
            max-width: 620px;
            font-size: 18px;
          }
          .marketing-item__title {
            font-size: 26px;
          }
        }
        @media screen and (max-width: 600px) {
          padding: 20px 26px;
          gap: 10px;
          .marketing-item__title {
            font-size: 18px;
          }
          .description {
            font-size: 16px;
          }
        }
      }
    }
  }

  &-item {
    background: rgba(36, 39, 46, 0.6);
    border-radius: 0 12px 12px 0;
    padding: 40px 18px 40px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    @media screen and (max-width: 900px) {
      padding: 32px 50px;
    }
    @media screen and (max-width: 600px) {
      padding: 22px 20px 22px 30px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 4px;
      height: 100%;
      background: var(--eb0e54);
      left: 0;
      top: 0;
    }

    &:nth-child(1) {
      grid-column: 1/4;
      @media screen and (max-width: 1300px) {
        grid-column: 1/3;
      }
    }

    &:nth-child(2) {
      grid-column: 4/7;
      @media screen and (max-width: 1300px) {
        grid-column: 3/5;
      }
    }

    &:nth-child(3) {
      grid-column: 1/3;
      @media screen and (max-width: 1300px) {
        grid-column: 1/3;
      }
    }

    &:nth-child(4) {
      grid-column: 3/5;
      @media screen and (max-width: 1300px) {
        grid-column: 3/5;
      }
    }

    &:nth-child(5) {
      grid-column: 5/7;
      @media screen and (max-width: 1300px) {
        grid-column: 1/5;
      }
    }

    &__title {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 26px;
      line-height: 120%;
      text-transform: uppercase;
      color: var(--ffffff);
      @media screen and (max-width: 900px) {
        font-size: 22px;
      }
      @media screen and (max-width: 600px) {
        font-size: 18px;
        br {
          display: none;
        }
      }

      span {
        color: var(--eb0e54);
      }
    }
  }
}


.research {
  padding-bottom: 120px;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 1300px) {
    padding-bottom: 86px;
  }
  @media screen and (max-width: 600px) {
    padding-bottom: 28px;

  }

  .wrapper {
    position: relative;
    z-index: 99;
  }

  &-money {
    position: absolute;
    right: 15vw;
    top: -78%;
    user-select: none;
    pointer-events: none;
    z-index: 0;
    @media screen and (max-width: 1300px) {
      right: 0;
    }
    @media screen and (max-width: 600px) {
      right: -103%;
      top: -79%;
    }

    img {
      user-select: none;
      pointer-events: none;
    }
  }

  .section-header {
    @media screen and (max-width: 1300px) {
      flex-wrap: wrap;
    }
    @media screen and (max-width: 900px) {
      flex-wrap: wrap;
      gap: 30px;
    }
    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 20px;
      .btn {
        margin: 0 auto;
      }
    }


    .title {
      max-width: 515px;
      width: 100%;
      @media screen and (max-width: 1300px) {
        max-width: 100%;
        flex: 1;
      }
    }

    .flex {
      gap: 40px;
      @media screen and (max-width: 1300px) {
        max-width: 100%;
        width: 100%;
        flex: 1;
      }
      @media screen and (max-width: 767px) {
        gap: 20px;
      }
    }

    .description {
      @media screen and (max-width: 1300px) {
        max-width: calc(100% - 320px);
        width: 100%;
        padding-left: 40px;
      }
      @media screen and (max-width: 900px) {
        line-height: 160%;
        max-width: calc(100% - 290px);
        width: 100%;
        padding-left: 40px;
      }
      @media screen and (max-width: 767px) {
        padding-left: 20px;
        max-width: 100%;
        br {
          display: none;
        }
      }
    }
  }
}

.clients {
  background: var(--24272e);
  position: relative;
  overflow: hidden;

  &-money {
    position: absolute;
    left: -706px;
    top: -53%;
    user-select: none;
    pointer-events: none;
    z-index: 0;
    @media screen and (max-width: 1550px) {
      left: -60vw;
      top: -63%;
    }
    @media screen and (max-width: 1290px) {
      left: -70vw;
      top: -63%;
    }
    @media screen and (max-width: 1025px) {
      left: -85vw;
      top: -63%;
    }
    @media screen and (max-width: 900px) {
      left: -110vw;
      top: -63%;
    }
    @media screen and (max-width: 600px) {
      display: none;
    }

    img {
      user-select: none;
      pointer-events: none;
    }
  }

  &-logo {
    position: absolute;
    left: 0;
    bottom: 0;
    user-select: none;
    pointer-events: none;
    z-index: 0;
    @media screen and (max-width: 600px) {
      height: 200px;
      min-width: 591px;
      left: 50%;
      transform: translateX(-50%);
      img {
        height: 100%;
        width: 100%;
      }

    }
    &.no-hover{
      display: block;
    }
    &.hover{
      display: none;
    }
    img {
      user-select: none;
      pointer-events: none;
    }
  }

  .wrapper {
    position: relative;
    z-index: 99;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 100px 0 148px;
    @media screen and (max-width: 1024px) {
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 50px 60px;
      padding: 51px 0 40px;

    }
    @media screen and (max-width: 600px) {
      gap: 34px;
      padding: 31px 0 40px;
    }
  }
  &__logo{
    &.hover{
      display: none;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 600px) {
      max-width: 42%;
    }
    &:hover{
    .clients__logo{
      cursor: pointer;
      &.hover{
        display: block;
      }
        &.no-hover{
            display: none;
        }
    }
  }
  }

}


.card-slider {
  &-content {
    padding-top: 123px;
    @media screen and (max-width: 900px) {
      padding-top: 75px;
    }

  }

  &.swiper-wrapper {
    align-items: stretch;
  }

  max-width: 343px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  //justify-content: center;
  flex-direction: column;
  border-radius: 12px;
  min-height: 360px;
  height: auto;

  &__img {
    margin-top: -26px;

    img {
      border-radius: 12px;
      box-shadow: 0 6px 7px 8px rgba(0, 0, 0, 0.1);
    }
  }

  &-black {
    background: var(--24272e);
    //background: red;
    .card-slider__content {
    }
  }

  &__img {
    max-width: 270px;
    width: 100%;
  }

  &__content {
    padding: 30px 16px 47px 35px;
    height: auto;
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--ffffff);
  }
}

.parsing-svg {
  &-section {
    .section-info__img {
      bottom: 0;
      height: 869px;
      max-width: 620px;
      @media screen and (max-width: 1100px) {
        max-width: 450px;
        left: -4%;
      }
      @media screen and (max-width: 900px) {
        max-width: 400px;
        height: 565px;
      }
      @media screen and (max-width: 600px) {
        left: 0;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-top: -50px;
      }
    }
   .section-info__content{
      @media screen and (max-width: 900px) {
        max-width: 400px;
      }

    }
    .section-info__inner{
      @media screen and (max-width: 600px) {
      gap: 0;
      }
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin: 52px 0 50px;
    @media screen and (max-width: 600px) {
      margin: 35px 0;
    }
    &__block {
      padding-left: 40px;
      @media screen and (max-width: 600px) {
        padding-left: 0;
      }
    }
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 28px;
    @media screen and (max-width: 900px) {
      gap: 22px;
    }
    @media screen and (max-width: 600px) {
    gap: 25px;
    }

    &__icon {
      width: 65px;
      height: 65px;

      img, svg {
        width: 100%;
        height: 100%;
      }
    }

    &__text {
      max-width: calc(100% - 65px - 28px);
      width: 100%;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 26px;
      line-height: 140%;
      color: var(--121212);
      @media screen and (max-width: 900px) {
        font-size: 18px;
      }
      @media screen and (max-width: 600px) {
        font-size: 14px;
      }
    }
  }

}