<section class="section migration-promo migration-promo-max section-bottom-line">
    <div class="wrapper">
        <div class="section-header  section-header-relative-col">
            <div class="line-y"></div>
            <h2 class="title text-white uppercase">
                <span>Сколько стоит</span> <br> ускорить ваш <span> сайт?</span>
            </h2>
            <p class="description text-white">
                Мы обязательно выполняем предварительную оценку, устанавливаем диапазон цен, а затем приступаем к выполнению работ, по окончании которых предоставляем клиенту подробный отчет с перечнем выполненных работ и результатом.
                <br>
                Гарантированно достигаем "зеленые" показатели по скорости для каждого сайта.
            </p>
            <p class="description description-22 text-white">
                Стоимость ускорения сайта от <span>15 000</span> рублей!
            </p>
            <p class="description description-22 text-white">
               <span> ВСЕГО!</span>
            </p>
        </div>

    </div>
</section>
