<section class="section migration-promo section-bottom-line">
    <div class="wrapper">
        <div class="section-header  section-header-relative-col">
            <div class="line-y"></div>
            <h2 class="title text-white uppercase">
                Почему <span>переезд сайта</span> <br>
                на 1с-битрикс доверяют <span>EVA corporation?</span>
            </h2>
            <p class="description text-white">
                Нужно перевести сайт на Битрикс? Обратитесь в нашу компанию! Звоните и заказывайте перенос прямо сейчас! Гарантируем быстрый и комфортный переход за разумные деньги
            </p>
<div class="migration-promo__inner">
    <ul class="list-check list-check__big">
        <li class="list-check__item">10 лет успешной работы</li>
        <li class="list-check__item">Мы - золотой партнер Битрикс</li>
        <li class="list-check__item">Переносим сайты с любой CMS системы</li>
        <li class="list-check__item">Работаем оперативно и внимательно</li>
        <li class="list-check__item">Сохраняем лояльные цены и гарантируем качественный результат</li>
    </ul>
    <button class="btn btn-primary">заказать переезд сайта</button>
</div>

        </div>

    </div>
</section>
