<section class="section contact-form-section section-grey">
    <div class="wrapper">
        <div class="contact-form__inner">
            <div class="contact-form__left">
                <div class="section-header section-header-relative-col">
                    <div class="line-y"></div>
                    <h2 class="title text-dark">У вас <span>остались <br> вопросы?</span></h2>
                </div>
                <p class="description">Оставьте свои контакты, мы вам перезвоним</p>
            </div>
            <div class="contact-form__right">
                <form action="#" class="contact-form contact-form-validation">
                    <div class="contact-form__top">
                        <div class="contact-form__top-inner">
                            <div class="contact-form__input-group">
                                <input type="text" id="phone" name="phone" placeholder="Телефон"
                                       class="contact-form__input phone input-required" required>
                            </div>
                            <div class="contact-form__input-group">
                                <input type="text" name="name" placeholder="Как вас зовут?"
                                       class="contact-form__input input-required" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </div>
                    <div class="contact-form__checkbox-group">
                        <input type="checkbox" name="subscribe" id="subscribe" class="checkbox__input input-required">

                        <label for="subscribe" class="checkbox">
                            <span class="checkbox__label">Я согласен на <a href="#" class="link">обработку персональных данных</a></span>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
