<section class="section custom-design">
    <div class="wrapper">
        <div class="section-header  section-header-relative-col">
            <div class="line-y"></div>
            <h2 class="title text-white">Индивидуальный <span>дизайн</span></h2>
            <p class="description text-white">
                Обязательный этап в создании индивидуального проекта - это маркетинговое исследование ниши. Делаем
                подробный маркетинговый аудит вашего бизнеса, рабиваем воронку продаж на этапы и внедряем это в
                индивидуальный дизайн вашего сайта. В минимальный пакет входит:
            </p>
        </div>
        <div class="custom-design__cards">
            <div class="custom-design__card">
                <div class="custom-design__card-content">
                    <h3 class="custom-design__card-title">маркетинговое <span>исследование</span></h3>
                    <ul class="custom-design__card-list list-check">
                        <li class="custom-design__card-item list-check__item">Проведем анализ проекта</li>
                        <li class="custom-design__card-item list-check__item">Сделаем анализ конкурентов</li>
                        <li class="custom-design__card-item list-check__item">Погрузимся в ваш бизнес</li>
                        <li class="custom-design__card-item list-check__item">Определим структуру сайта</li>
                        <li class="custom-design__card-item list-check__item">Определим типы</li>
                    </ul>
                </div>
                <div class="custom-design__card-icon">
                    <img src="/img/icon/custom-design-1.svg" alt="custom-design">
                </div>
            </div>
            <div class="custom-design__card">
                <div class="custom-design__card-content">
                    <h3 class="custom-design__card-title">дизайн</h3>
                    <ul class="custom-design__card-list list-check">
                        <li class="custom-design__card-item list-check__item">Дизайн шапки сайта</li>
                        <li class="custom-design__card-item list-check__item">Индивидуальный дизайн меню</li>
                        <li class="custom-design__card-item list-check__item">Разработка дизайна подвала сайта</li>
                        <li class="custom-design__card-item list-check__item">Дизайн баннеров</li>
                        <li class="custom-design__card-item list-check__item">Дизайн галереи</li>
                    </ul>
                </div>
                <div class="custom-design__card-icon">
                    <img src="/img/icon/custom-design-2.svg" alt="custom-design">
                </div>
            </div>
            <div class="custom-design__card">
                <div class="custom-design__card-content">
                    <h3 class="custom-design__card-title">Дополнительно</h3>
                    <ul class="custom-design__card-list list-check">
                        <li class="custom-design__card-item list-check__item">Наполнение страниц по договору</li>
                        <li class="custom-design__card-item list-check__item">Копирайтинг</li>
                        <li class="custom-design__card-item list-check__item">Размещение сайта на вашем хостинге
                        </li>
                        <li class="custom-design__card-item list-check__item">Регистрация домена</li>
                        <li class="custom-design__card-item list-check__item">Предоставление обучающих материалов
                        </li>
                        <li class="custom-design__card-item list-check__item">Неограниченные консультации</li>
                    </ul>
                </div>
                <div class="custom-design__card-icon">
                    <img src="/img/icon/custom-design-3.svg" alt="custom-design">
                </div>
            </div>
        </div>
        <button class="btn btn-primary">заказать</button>

    </div>
</section>
