<section class="section services">
    <div class="wrapper">
        <div class="services-inner">
            <div class="section-header section-header-relative-col">
                <div class="line-y"></div>
                <h2 class="title text-white">
                    Услуги по <span>разработке <br> сайтов</span>
                </h2>
            </div>
            <div class="services-list">
                <div class="services-item">
                    <div class="services-item__icon"></div>
                    <div class="services-item__title">Интернет-магазины
                        <span>на битрикс</span></div>
                </div>
                <div class="services-item">
                    <div class="services-item__icon"></div>
                    <div class="services-item__title">
                        создание сайтов <br>
                        <span>для медицинских учреждений</span>
                    </div>
                </div>
                <div class="services-item">
                    <div class="services-item__icon"></div>
                    <div class="services-item__title">Корпоративные сайты
                        <span>на битрикс</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="red-banner__star-p">
            <div class=" red-banner__star">
                <div class="red-banner__star-img">
                    <img src="/img/banner-star.png" alt="star">
                </div>
                <div class="text-white text-32 uppercase">
                    мы — золотой <br> партнер битрикс
                </div>
                <button class="btn btn-white text-dark uppercase">
                    наш профиль на оф. сайте
                </button>

            </div>
        </div>

    </div>
</section>
