<section class="section section-grey modules-promo">
    <div class="wrapper">
        <div class="modules-promo__inner">
            <div class="line-y"></div>
            <p class="description text-dark">
                <span>Часто устанавливаем модули, повышающие конверсию:</span> система лояльности и бонусная
                программа,
                СМС информирование, Е-mail рассылки, лидогенераторы, модули захвата, акционные модули, интеграция с
                онлайн кассами и эквайринг, автоматизация расчета доставок и т.п.
            </p>
            <button class="btn btn-primary">
                заказать сайт
            </button>
        </div>
    </div>
</section>
