<section class="site-offer">
    <div class="wrapper">
        <div class="site-offer__top">
            <p class="description">
                <span>Популярные модули для сайта:</span> Дата, система лояльности и накопительных баллов,
                всплывающие
                окна, мега меню, перекрестные продажи, хиты продаж, умный фильтр с исправлением ошибок и
                подсказками,
                оплата заказов по ссылке, смс информирование, оптимизация картинок в WEBp, СЕО фильтр, модуль
                мультирегиональности для работы с поддоменами
            </p>

            <div class="section-header section-header-relative-col">
                <div class="line-y"></div>
                <div class="title text-dark">От <span>200 000</span> руб.</div>
                <div class="sub-title">Хостинг бесплатно</div>
                <button class="btn btn-primary">Заказать</button>
            </div>
        </div>


        <!--        <div class="site-offer__partner">-->
        <!--            <img src="..." class="site-offer__partner-logo" alt="Золотой партнёр Битрикс">-->
        <!--            <div class="site-offer__partner-text">Мы — ЗОЛОТОЙ ПАРТНЕР БИТРИКС</div>-->
        <!--            <a href="#" class="site-offer__partner-button">Наш профиль на оф. сайте</a>-->
        <!--        </div>-->
    </div>

</section>
