<section class="section red-banner__star-p">
    <div class="wrapper">
        <div class=" red-banner__star">
            <div class="red-banner__star-img">
                <img src="/img/banner-star.png" alt="star">
            </div>
            <div class="text-white text-32 uppercase">
                мы — золотой <br> партнер битрикс
            </div>
            <button class="btn btn-white text-dark uppercase">
                наш профиль на оф. сайте
            </button>

        </div>
    </div>
</section>